<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D print</title>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.js"></script>
    
</head>
<body>
    <main id="app">
        <div class="grid-inputs">
            <div>
                <div v-for="item in params">
                    <label class="w3-text-blue">{{ item.name }}</label>
                    <input v-if="item.type == 'string'" type="text" v-model="item.value" class="w3-input w3-border">
                    <input v-else type="number" v-model="item.value" class="w3-input w3-border">
                    <p>{{ item.description }}</p>
                </div>
            </div>
            <div>
                <img v-bind:src="preview" /> 
            </div>
            <div class="controls">
                <button @click.prevent="sendPreviewRequest()" class="w3-button w3-blue">Preview</button>
                <button @click.prevent="sendStlRequest()" class="w3-button w3-green">Render</button>
            </div>
        </div>
    </main>
    <script src="app.js"></script>
</body>
</html>