.grid-inputs
{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: min-content;
    grid-gap: 1em;
}

.grid-images
{
    display: flex;
    flex-wrap: wrap;
    max-height: 17vh;
    overflow-y: auto;
}

.grid-images i
{
    display: inline-block;
    padding: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    margin: 2px;
}

.grid-images i:hover
{
    padding: 10px;
}

.title
{
    padding: 20px;
}

.left-panel
{
    height: 100%;
}

.grid-scripts
{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 1em;
}

.grid-inputs .preview
{
    text-align: center;
}

.preview-container
{
    text-align: center;
}

.preview-container-loading
{
    background-image: url('img/preloader.gif');
    background-position: center center;
    background-repeat: no-repeat;
}

menu
{
    text-align: right;
    padding: 10px;
    margin: 0;
    height: 60px;
}

.thumbnail
{
    width: 10vw;
}